<style>
  #performance_code {
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;

    width: 140px;
    overflow: hidden;
    background-color: #DE7A93;
    color: white;
    padding: 0 10px 0 10px;
    line-height: 20pt;
    font-family: "menlo";
    font-size: 10pt;
    text-align: right;
  }


  #performance_code:hover {
    height: auto;
    width: 600px;
    padding-bottom: 10px;
  }

  #performance_code table {
    table-layout: fixed;
  }

  table#performance_table {
    width: 100%;
  }

  table#performance_table td {
    padding-right: 15px;
  }
  
  table#performance_table .queries {
    display: none;
    font-size: smaller;
  }
  table#performance_table .queries tr {
    text-align:left;
  }
  table#performance_table tr:target + .queries {
    display: block;
  }

  .queries table {
    width: 600px;
  }
  .queries table tr {
    background-color: #F18EA6;
  }
  .queries table tr:nth-child(2n+1) {
    background-color: #DE7A93;
  }
}
</style>
<div id="performance_code">
  asd2 
  <strong><%= current_log.event.duration.to_i %></strong> ms
  <strong><%= current_log.query_count %></strong> queries
 <table id='performance_table'>
  <% items.each do |name, time, count, acts, queries, uid| %>
    <tr id="<%= uid %>">
      <td colspan="55%"><%= name %>   </td>
      <td colspan="15%"><%= time %>   </td>
      <td colspan="15%"><%= count %>  </td>
      <td colspan="15%">
        <% if queries && !queries.empty? %>
          <a href="#<%= uid %>">show</a>/<a href="#">hide</a> 
        <% else %>
          <%= acts %>
        <% end %>
      </td>
    </tr>
    <% if queries && !queries.empty? %>
      <tr class="queries">
        <td>
          <table>
              <tr>
                <td colspan="90%"> sql </td>
                <td colspan="10%"> ms  </td>
              </tr>
            <% queries.each do |p| %>
              <tr>
                <td colspan="90%"> <%=html_escape p.payload[:sql] %> </td>
                <td colspan="10%" align="center"> <%=html_escape p.duration.round(2) %>       </td>
              </tr>
            <% end %>
          </table>
        </td>
      </tr>
    <% end %>
  <% end %>
  </table>
</div>
