<style>
  #performance_code {
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;

    width: 140px;
    overflow: hidden;
    background-color: #DE7A93;
    color: white;
    padding: 0 10px 0 10px;
    line-height: 20pt;
    font-family: "menlo";
    font-size: 10pt;
    text-align: right;
  }


  #performance_code:hover {
    height: auto;
    width: 600px;
    padding-bottom: 10px;
  }

  table#performance_table {
    width: 100%;
    table-layout: fixed;
  }

  table#performance_table td {
    padding-right: 15px;
  }
  
  table#performance_table tr.queries {
    display: none;
    font-size: smaller;
  }
  table#performance_table tr.queries li {
    width: 500px;
    text-align:left;
  }
  table#performance_table tr:target + .queries {
    display:block !important;
  }
</style>
<div id="performance_code">
  <strong><%= current_log.event.duration.to_i %></strong> ms
  <strong><%= current_log.query_count %></strong> queries
 <table id='performance_table'>
  <% items.each do |name, time, count, acts, queries, uid| %>
    <tr id="<%= uid %>">
      <td colspan="55%"><%= name %>   </td>
      <td colspan="15%"><%= time %>   </td>
      <td colspan="15%"><%= count %>  </td>
      <td colspan="15%">
        <% if queries && !queries.empty? %>
          <a href="#<%= uid %>">show</a>/<a href="#">hide</a> 
        <% else %>
          <%= acts %>
        <% end %>
      </td>
    </tr>
    <% if queries && !queries.empty? %>
      <tr class="queries">
        <td colspan="100%">
          <ol>
            <% queries.each do |p| %>
              <li><%= p[:sql] %> <span>(p.duration</span> </li>
            <% end %>
          </ol>
        </td>
      </tr>
    <% end %>
  <% end %>
  </table>
</div>
